*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box {
    padding: 50px;
    width: 600px;
    height: 100vh;
    border: 1px solid black;
    background-color: tomato;
    margin: 0 auto;
}
.inp, .btn {
    padding: 10px 70px;
    border: 1px solid #000;
    border-radius: 30px;
}
.btn {
    padding: 10px 30px;
    margin-left: 20px;
    text-transform: uppercase;
    background-color: #fff;
    cursor: pointer;
}

