.block {
  background-color: #666;
}
.box {
    width: 800px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .body {
    width: 617px;
    height: 415px;
    border: 4px solid #fff;
    border-radius: 10px;
    padding: 4px;
    display: flex;
  }
  .slice {
    width: 70px;
    height: 200px;
    border-radius: 0 10px 10px 0;
    background-color: #fff;
  }
  .bl {
    height: 400px;
    width: 196px ;
    background-color: #fff;
    margin: 0 2px;
  }